<nav class="navbar">
  <div class="nav-content">
    <div class="logo-container">
      <img
        src="assets/logo.png"
        alt="Logo"
        class="spinning-logo"
        routerLink="/home"
      />
    </div>

    <ul class="nav-list">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          Mission Control
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <i class="fas fa-user-astronaut"></i>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="/achievements" routerLinkActive="active">
          <i class="fas fa-medal"></i>
          Achievements
        </a>
      </li>
    </ul>
  </div>
</nav>
