<nav class="navbar">
  <div class="nav-content">
    <ul class="nav-list left">
      <li>
        <a routerLink="/mission/disarium-number" routerLinkActive="active"
          >Disarium Number</a
        >
      </li>
      <li>
        <a routerLink="/mission/first-last-day-month" routerLinkActive="active"
          >First/Last Day of Month</a
        >
      </li>
      <li>
        <a routerLink="/mission/decode-string" routerLinkActive="active"
          >Decode String</a
        >
      </li>
    </ul>

    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="spinning-logo" />
    </div>

    <ul class="nav-list right">
      <li>
        <a routerLink="/mission/ancient-algorithm" routerLinkActive="active"
          >Ancient Algorithm</a
        >
      </li>
      <li>
        <a routerLink="/mission/reverse-string" routerLinkActive="active"
          >Reverse String</a
        >
      </li>
      <li>
        <a routerLink="/mission/replace-string" routerLinkActive="active"
          >Replace String</a
        >
      </li>
      <li>
        <a routerLink="/missionn/yippie-force" routerLinkActive="active"
          >Brute Force</a
        >
      </li>
    </ul>
  </div>
</nav>
